<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
>

{%- liquid
  assign ratio = 1
  if card_product.featured_media and media_aspect_ratio == 'portrait'
    assign ratio = 0.8
  elsif card_product.featured_media and media_aspect_ratio == 'adapt'
    assign ratio = card_product.featured_media.aspect_ratio
  endif
  if ratio == 0 or ratio == null
    assign ratio = 1
  endif
-%}

<product-card
  class="product-card mobile-product-card card--{{ settings.card_style }}{% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }}{% endif %}"
  data-product-id="{{ card_product.id }}"
>
  <div class="product-card-child">
    <div class="card-media-wrapper">
      <a
        href="{{ card_product.url }}"
        class="card-media"
        style="--media-ratio: {{ 1 | divided_by: ratio | times: 100 }}%;"
      >
        <div class="card-media-child">
          {% if card_product.images.size > 1 %}
            <div class="swiper card-media-slider">
              <div class="swiper-wrapper">
                {% for image in card_product.images limit: 3 %}
                  <div class="swiper-slide">
                    {{
                      image
                      | image_url: width: card_product.featured_image.width
                      | image_tag:
                        width: card_product.featured_image.width,
                        height: card_product.featured_image.height,
                        alt: card_product.featured_media.alt,
                        data-product-image: card_product.id
                      | escape
                    }}
                  </div>
                {% endfor %}
              </div>
              <div class="swiper-pagination"></div>
            </div>
          {% else %}
            {{
              card_product.featured_image
              | image_url: width: card_product.featured_image.width
              | image_tag:
                width: card_product.featured_image.width,
                height: card_product.featured_image.height,
                alt: card_product.featured_media.alt,
                data-product-image: card_product.id
              | escape
            }}
          {% endif %}
          <button class="quickadd-button">{{ 'icon-quickadd.svg' | inline_asset_content }}</button>
        </div>
      </a>
    </div>

    <div class="card-information">
      <div class="desktop-card-information">
        <a href="{{ card_product.url }}">{{ card_product.title }}</a>
        <div class="card-pricing">
          {% render 'price', product: card_product, show_compare_at_price: true %}
        </div>
      </div>
    </div>
  </div>
</product-card>
