<style>
  #main-header .nav-megamenu {
    display: flex;
    justify-items: center;
    
    margin-inline: auto;
    padding: 2;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    margin-top: 1px;
    background-color: #fff5f5;
  }
  #main-header .nav-megamenu .page-wrapper {
    display: flex;
    max-width: 1400px;
    justify-items: center;
    gap: 40px;
    margin-inline: auto;
    align-items: flex-start;
    padding: 30px 20px;
  }
  #main-header .nav-megamenu .nav-megamenu_child {
    position: static;
    margin-top: 10px;
    display: block;
  }
  #main-header .nav-megamenu_heading {
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 45px;
  }
  #main-header .nav-megamenu_child a {
    display: block;
    padding: 6px 0;
    font-size: 13px;
    line-height: 1.5;
    color: #373735;
  }

  #main-header .nav-megamenu_child a:hover {
    display: block;
    color: black;
    padding: 6px 0;
    text-decoration: underline;
    font-size: 13px;
    line-height: 1.5;
  }

  #main-header .nav-megamenu .imageColumn a{
    display: block;
    padding: 6px 0;
    font-size: 13px;
    line-height: 1.5;
    color: #373735;
  }

  #main-header .nav-megamenu .imageColumn a:hover{
    display: block;
    color: black;
    padding: 6px 0;
    text-decoration: underline;
    font-size: 13px;
    line-height: 1.5;
  }

  #main-header .nav-megamenu .imageColumn{
    width: 20%;
    padding: 2px;
    display: flex;
    flex-direction: column;
    gap: 2px;


  }

  
  

  #main-header  .megamenu-toggle {
    display: flex;
    padding: 0 12px 13px;
    font-size: 14px; 
    color: #373735;
    letter-spacing: 1px;
}



  #main-header .nav-megamenu .imageContainer {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  #main-header .nav-megamenu .imageContainer img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
</style>
<ul>
  {% for link in section.settings.menu.links %}
    <li x-data="{ menuOpen: false }" @mouseover.away="menuOpen = false">
      {% if link.links != blank %}
        {% assign block_type = 'megamenu' | append: forloop.index0 %}
        <a href="{{link.url}}"
              @mouseover="menuOpen = true"
              :class="{ 'menu-open': menuOpen }"
              class="megamenu-toggle"
            >
              {{- link.title | escape | upcase-}}
              
            </a>

        {% for block in section.blocks %}
          {% if block.type == block_type %}
            
            <div
              x-show="menuOpen"
              x-transition
              x-cloak
              class="nav-megamenu color-{{ section.settings.menu_color_scheme }} gradient"
            >
              <ul class="page-wrapper" role="list">
                {%- for childlink in link.links -%}
                  <li>
                    {% unless childlink.title == '-' %}
                      <a
                      href="{{ childlink.url }}"
                      class="nav-megamenu_heading"
                      {% if childlink.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ childlink.title | escape }}
                    </a>
                    {% endunless %}
                    
                    {%- if childlink.links != blank -%}
                      <ul class="nav-megamenu_child" role="list">
                        {%- for grandchildlink in childlink.links -%}
                          <li>
                            <a
                              href="{{ grandchildlink.url }}"
                              {% if grandchildlink.current %}
                                aria-current="page"
                              {% endif %}
                            >
                              {{ grandchildlink.title | escape }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
                
                  {% if block.settings.image1 %}
                    <div class="imageColumn">
                      <div style="imageContainer">
                        <img src="{{ block.settings.image1 | img_url: 'medium'}}" alt="{{ image1.alt }}">
                      </div>
                      <a>{{ block.settings.title1 }}</a>
                    </div>
                  {% endif %}

                  {% if block.settings.image2 %}
                    <div class="imageColumn">
                      <div style="imageConainer">
                        <img src="{{ block.settings.image2 | img_url: 'medium'}}" alt="{{ image2.alt }}">
                      </div>
                      <a>{{ block.settings.title2 }}</a>
                    </div>
                  {% endif %}
                  
              </ul>
            </div>
          {% endif %}
        {% endfor %}

      {% else %}
        <a
          href="{{ link.url }}"
          {% if link.current %}
            aria-current="page"
          {% endif %}
          class="megamenu-toggle"
        >
          {{- link.title | escape | upcase-}}
        </a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
