<style>
  .collections-container {
    margin-top: 40px !important;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 80px;
    padding: 0 15px;
  }
  .collections-grid {
    display: flex;
    flex-wrap: wrap;
  }
  .collection-content {
    width: 31.5%;
    margin: 10px;
    transition: 0.4s linear margin-top;
  }
  .collection-content:hover {
    margin-top: -20px;
  }
  .collection-content h2 {
    font-size: 30px;
    line-height: 42px;
    margin: 0;
    color: black;
  }
  .collection-content p{
    font-size: 15px;
    line-height: 22px;
    margin: 0;
    max-width: 300px;
    position: relative;  
    color: black;  
    background-color: white;
  }
  .collection-content .link {
    font-size: 13px;
    line-height: 20px;
    text-decoration: underline;
    color: black;
    font-weight: 600;
    margin-top: -34px;
    padding-top: 10px;
    transition: 0.4s linear margin-top;
    z-index: 0;
    
  }
  .collection-content:hover .link {
    margin-top: 0 !important;
  }
</style>

<div class="collections-container">
  <div class="collections-grid">
    {% for block in section.blocks %}
      <div class="collection-content">
        <a style="text-decoration: none;" href="{{block.settings.url}}">
          <img src="{{block.settings.image| img_url: '4000x4000'}}" alt="{{block.settings.image.alt}}" width="100%" height="">
          <div style="padding:14px 0 0 10px;font-family:Poppins;background-color:white;z-index:1">
            <h2 >{{ block.settings.title }}</h2>
            <p>{{ block.settings.description }}</p>
            <div class="link">{{block.settings.link_text}}</div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Featured Collection 2",
  "settings": [],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "url",
          "label": "Link",
          "id": "link"
        },
        {
          "type": "image_picker",
          "label": "Image",
          "id": "image"
        },
        {
          "type": "text",
          "label": "Collection Title",
          "id": "title"
        },
        {
          "type": "text",
          "label": "Collection Description",
          "id": "description"
        },
        {
            "type": "text",
            "label": "Link Text",
            "id": "link_text",
            "default":"SHOP ALL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Collection 2"
    }
  ]
}
{% endschema %}
