<style>
    .top-bar-bgcolor{
        height: 20px;
        background-color: #efc0c3;
    }
    @media(max-width:78px){
        .top-bar-bgcolor{
        height: 10px !important;
        }
        .hide-mobile{
        display: none !important;
        }
    }
    .info-bar{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        max-width: 1300px;
        margin: 0 auto;
        border-bottom: 1px solid #efc0c366;
    }
    .blocks:after,.blocks:before{
    content: "";
    width: 85px;
    height: 1px;
    border: 1px solid rgba(239,192,195,.31);
    transform: rotate(-90deg);
    position: absolute;
    right: -35px;
    top: 42px;
    }
    .blocks{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 25%;
        gap: 12px;
        position: relative;
        justify-content: flex-end;
        min-height: 85px;
    }
    .blocks a{
        font-size: 13px;
        line-height: 19.5px;
        color: black;
        font-family: Poppins;
        font-weight: 600;
        text-transform: uppercase;
    }
    .blocks img{
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
    }
    .blocks p{
        margin: 0;
        padding: 0 82px;
        text-align: center;
        line-height: 24px;
        font-family: Poppins;
        color: black;
    }


    
    
</style>
<div class="top-bar-bgcolor"></div>
<div>
    <div class="info-bar">
        {% for block in section.blocks %}
            {% case block.type %}
                {% when 'text_with_link' %}
                    <div class="blocks">
                        <p>{{block.settings.title}}</p>
                        <a href="{{block.settings.link}}">{{block.settings.link_text}}</a>
                    </div>
                {% when 'stars_with_link' %}
                    <div class="blocks">
                        
                    <div style="display: flex;gap:7px;">
                        <img src="{{block.settings.image1| img_url: '4000x4000'}}" alt="{{block.settings.image.alt}}" width="" height="">
                        <img src="{{block.settings.image2| img_url: '4000x4000'}}" alt="{{block.settings.image.alt}}" width="" height="">
                        <img src="{{block.settings.image3| img_url: '4000x4000'}}" alt="{{block.settings.image.alt}}" width="" height="">
                        <img src="{{block.settings.image4| img_url: '4000x4000'}}" alt="{{block.settings.image.alt}}" width="" height="">
                        <img src="{{block.settings.image5| img_url: '4000x4000'}}" alt="{{block.settings.image.alt}}" width="" height="">
                    </div>
                        
                        <a href="{{block.settings.link}}">{{block.settings.link_text}}</a>

                    </div>
                {% when 'image_with_link2' %}
                    <div class="blocks">
                        <div style="display: flex;gap:21px">
                            <img src="{{block.settings.image1| img_url: '4000x4000'}}" alt="{{block.settings.image1.alt}}" width="" height="">
                            <img src="{{block.settings.image2|  img_url: '4000x4000'}}" alt="{{block.settings.image2.alt}}" width="" height="">
                        </div>
                       
                        <a href="{{block.settings.link}}">{{block.settings.link_text}}</a>
                    </div>
                {% else %}
                    
            {% endcase %}
        {% endfor %}
       
    </div>
</div>


{% schema %}
{
    "name": "News Bar",
    "settings": [
        
        ],
    "blocks": [
        {
      "type": "text_with_link",
      "name": "Text with link",
      "settings": [
        {
          "type": "text",
          "label": "Title",
          "id": "title"
        },
        {
          "type": "url",
          "label": "Link",
          "id": "link"
        },
        {
          "type": "text",
          "label": "Link Text",
          "id": "link_text"
        }
      ]
    },
    {
      "type": "stars_with_link",
      "name": "Image with link",
      "settings": [
        {
          "type": "image_picker",
          "label": "Star",
          "id": "image1"
        },
        {
          "type": "image_picker",
          "label": "Star",
          "id": "image2"
        },
        {
          "type": "image_picker",
          "label": "Star",
          "id": "image3"
        },
        {
          "type": "image_picker",
          "label": "Star",
          "id": "image4"
        },
        {
          "type": "image_picker",
          "label": "Star",
          "id": "image5"
        },
        {
          "type": "url",
          "label": "Link",
          "id": "link"
        },
        {
          "type": "text",
          "label": "Link Text",
          "id": "link_text"
        }
      ]
    },
    {
      "type": "image_with_link2",
      "name": "2 Images with link",
      "settings": [
        {
          "type": "image_picker",
          "label": "Image 1",
          "id": "image1"
        },
        {
          "type": "image_picker",
          "label": "Image 2",
          "id": "image2"
        },
        {
          "type": "url",
          "label": "Link",
          "id": "link"
        },
        {
          "type": "text",
          "label": "Link Text",
          "id": "link_text"
        }
      ]
    }
        ],
    "presets": [
        {
            "name": "News Bar"
        }
    ]
}
{% endschema %}