<style>
    .banner_container{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
.banner_content{
    position: absolute;
    margin: 0 40px;
    width: 530px;
    color: white;
    font-family: Poppins;
    
}
.banner_content h2{
    font-size: 62px;
    font-weight: 300;
    margin: 0;
    line-height: 75px;
    letter-spacing: 3px;
    height: 150px;
    display: flex;
    align-items: end;
    
    
}
.banner_content p{
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1px;
    margin: 0 0 24px !important;
    box-sizing: border-box;
    padding: 0 80px;


}
.banner_content a{
    background-color: white;
    color: black;
    border-color: white !important;
    display: inline-flex;
    height: 50px;
    width: 100%;
    max-width: 150px;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    line-height: 21px;
    border: 1px solid;
    margin-top: 15px;
    font-size: 14px;
    text-decoration: none;

}
.banner_content a:hover{
    background-color: transparent;
    color: white;
}

.mobile_banner_content{
    align-items: flex-start;
    position: absolute;
    margin: 0 40px;
    width: 530px;
    color: white;
    font-family: Poppins;
    
}
.mobile_banner_content h2{
    font-size: 32px;
    font-weight: 300;
    margin: 0;
    line-height: 38px;
    letter-spacing: 3px;
    display: flex;
    align-items: end;
    
    
}
.mobile_banner_content p{
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1px;
    margin: 0 0 24px !important;
    box-sizing: border-box;
    padding: 0 80px;


}
.mobile_banner_content a{
    background-color: white;
    color: black;
    border-color: white !important;
    display: inline-flex;
    height: 50px;
    width: 100%;
    max-width: 150px;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    line-height: 21px;
    border: 1px solid;
    margin-top: 15px;
    font-size: 14px;
    text-decoration: none;

}
@media(max-width:768px){
    .hide-mobile{
    display: none;
}
@media(min-width: 768px){
    .hide-desktop{
    display: none;
}
}
}

</style>
<div>
    <div class="banner_container">
        <img src="{{section.settings.image_banner|  img_url: '7000x7000'}}" alt="{{section.settings.image_banner.alt}}" width="100%" height="" class="hide-mobile">
        <img src="{{section.settings.image_banner_mobile}}" alt="{{section.settings.image_banner_mobile.alt}}" width="100%" height="" class="hide-desktop">

        <div class="banner_content hide-mobile">
            <h2>{{section.settings.title}}</h2>
            <p>{{section.settings.subtitle}}</p>
            <a href="{{section.settings.button_text}}" class="button">{{section.settings.button_text}}</a>
        </div>

        <div class="mobile_banner_content hide-desktop" >
            <h2>
                <br>
                <span>{{section.settings.title}}</span>
            </h2>
            
            <p>{{section.settings.subtitle}}</p>
            <a href="{{section.settings.button_text}}" class="button">{{section.settings.button_text}}</a>
        </div>
    </div>

    
</div>

{% schema %}
{
    "name": "Image Banner",
    "settings": [
        {
            "type": "image_picker",
            "label": "Image",
            "id":"image_banner"
        },
        {
            "type": "text",
            "label": "Banner Title",
            "id": "title"
        },
        {
            "type": "text",
            "label": "Banner Subtitle",
            "id": "subtitle"
        },
        {
            "type": "text",
            "label": "Button's Text",
            "id": "button_text"
        },
        {
            "type": "image_picker",
            "label": "Mobile Image Banner",
            "id": "image_banner_mobile"
        }
        ]
}
{% endschema %}